.header {
    padding: 24px 0 22px;

    &__wrap {
        display: flex;      
        align-items: center;  
        position: relative;
    }

    .logo {
        // svg {
        //     width: 130px;
        //     height: 72px;
        // }
    }    

    .icons {
        margin-left: auto;
        display: flex;
        align-items: center;

        &__item {

        }

        svg {
            fill: @text;
        }
    }

    .call {
        display: flex;

        &__items {
            a {
                font-size: 12px;
            }
        }

        &__img {
            width: 60px;
            min-width: 60px;
            height: 60px;
            border-radius: 100px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
